*, html, body, h1, h2 {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: aquamarine;
}

#page {
  height: 100vh;
  width: 100vw;
}
header {
  text-align: center;
}
#contentPage {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: 95vh;
}

#contentCentre {
  text-align: center;
}
#leftNav {
  height: 95vh;
}

img {
  height: 95vh;
  border-radius: 10px;
  margin: 0px auto;
}


.tmpBorder {
  border: 1px red dotted;
}